/* GENERAL STUFF */

h1, h2, h3{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
	color:#4aaaa5;
	font-weight: normal;
	font-size: 26px;
}

h2, h3 {
	color:#4aaaa5;
	font-size: 20px;
	font-weight: normal;

}

h3 {
	padding-left:30px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

p,a {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	font-size: 15px;
}


a:link {
	text-decoration: none;
}


a:visited {
}


a:hover {
	color: #4aaaa5;
}


.navbar-nav>li>a:hover {
 		color: #4aaaa5;
 }

a:active {
}

.navbar-nav>li>a:hover {
 		color: #4aaaa5;
 }



body {
		background-image: url("../images/ignasi_pattern_s/ignasi_pattern_s.png");
		height: 100%;

}

html {
	height: 100%;
}

.col-md-7 {

	background-color: #FFFFFF;
	margin-right: 10px;
	padding: 50px;
}

.col-md-3 {
		background-color: #FFFFFF;
		margin-left: 10px;
		padding: 50px;

}


.col-md-4 {
}


.navbar{

}
.container-fluid {

}

.navbar-header {
	display: block;
	height: 80px;

}


.navbar-default {

	background-image:none;
	background-color: #FFFFFF;
	-webkit-box-shadow: none;
	color: #FFFFFF;
/*	padding-top: 10px;
	padding-bottom: 10px;
*/}


.navbar-brand {
	
	background-color: #4aaaa5;
	position: absolute;	
	left: 8.33%;
	height: inherit;
	width: 200px;

}

#talisaar {
	color: #FFFFFF;
	text-align: center;
	padding-top: 28px;
}

#name-tag {
	color: #FFFFFF;
}


.navbar-right {

padding-top: 14px;
position: relative;	
right: 7%;

}

.navbar_right_li {

	position: relative;
	left: 7%;
}

.clear {
	clear: both;
}

/* connect with me side column stuff */



/* About me stuff */

#profile_photo {
	float: left;
	padding-right: 30px;
	padding-bottom: 30px;
}

#about_me_content {
	line-height: 130%;
}


/* Portfolio stuff */

.portfolio_div {
	float: left;
	padding:30px;
	position:relative;

	}

	.overlay {
		position:absolute;
		height: 50px;
		line-height: 50px;
		width: 230px;
		top:150px;
		left:30px;
		background-color:rgba(90,90,90,0.85);
		color: #FFFFFF;
		text-align: center;
		display:block;
		vertical-align: middle;
		font-size: 23px;

	}




/*Contact form sutff */

#textarea {
height: 120px;
width: 100%; 
border-color: #cccccc;
border-style: solid;
font-size: 18px;
border-width: 1px;
padding-left: 7px;
padding-top: 4px;
color: #666666;
font-family: Arial;
margin-top: 10px;
margin-bottom: 20px;



}


#contact_content {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}


input {
	width: 100%;
	height: 40px;
	font-size: 18px;
	padding-left: 7px;
	color: #666666;
	margin-top: 10px;
	margin-bottom: 10px;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bbbbbb;
  font-size: 16px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #bbbbbb;
  font-size: 16px;

}
:-ms-input-placeholder { /* IE 10+ */
  color: #bbbbbb;
  font-size: 16px;

}
:-moz-placeholder { /* Firefox 18- */
  color: #bbbbbb;
  font-size: 16px;

}


#contact_content{
	padding-bottom: 150px;
}

.button {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #5bbbb6; 
    color: white;
}

.button:active {

	    background-color: #399995; 
    color: white;

}

/* Footer stuff */


footer {
	background-color:#666666;
	height: 100px;
	width: 100%;
	position: absolute;
	bottom: -120px;
    border-top-color: #4aaaa5;
	border-top-width: 7px;
	border-top-style: solid;
	padding-top: 20px;
}

.text-muted {
	color: #FFFFFF;
	text-align: center;
}

